<div class="row" *ngIf="teamInfo">
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Nama :</span>
        <div class="input-value">
            {{teamInfo.name}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Didirikan :</span>
        <div class="input-value">
            {{teamInfo.founded}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Nama Pendek :</span>
        <div class="input-value">
            {{teamInfo.shortName}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Warna Klub :</span>
        <div class="input-value">
            {{teamInfo.clubColors}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Area :</span>
        <div class="input-value">
            {{teamInfo.area.name}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Alamat :</span>
        <div class="input-value">
            {{teamInfo.address}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Telepon :</span>
        <div class="input-value">
            {{teamInfo.phone}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Email :</span>
        <div class="input-value">
            {{teamInfo.email}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Stadium :</span>
        <div class="input-value">
            {{teamInfo.venue}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Daftar Pemain :</span> 
        <ng-container *ngIf="teamInfo.squad.length > 0; else elseTemplate">
            <div *ngFor="let player of teamInfo.squad; index as i">
                <button class="btn btn-link btn-block" (click)="openPlayerDetails(player.id)">{{player.name}}</button>      
            </div> 
        </ng-container>
        <ng-template #elseTemplate>
            Data tidak tersedia
        </ng-template>
    </div>    
</div>
<div class="buttons">
    <button type="button" class="btn btn-outline-primary" [routerLink]="'/home'">
        Kembali
    </button>
</div>