<accordion *ngIf="area" [closeOthers]="oneAtATime" [isAnimated]="true">
  <accordion-group *ngFor="let item of area; index as i" heading="{{area[i].name}}" (isOpenChange)="reset()">
    <button class="btn btn-link btn-block" (click)="click(item.id)">Check Teams</button>  
    <ng-container *ngIf="(teams.length != 0) ; else elseTemplate">
      <div *ngFor="let team of teams">
          <button class="btn btn-link btn-block" [routerLink]="['/','teams',team.id]">{{team.name}}</button>      
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div>
        Maaf tidak ada tim di area ini
      </div>
    </ng-template>
  </accordion-group>
</accordion>