<div *ngIf="playerDetail">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{playerDetail.name}}</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalHide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-12 col-lg-4 mb-3">
                <span>Nama :</span>
                <div class="input-value">
                    {{playerDetail.name}}
                </div>
            </div>
            <div class="form-group col-12 col-lg-4 mb-3">
                <span>Nama Depan :</span>
                <div class="input-value">
                    {{playerDetail.firstName ? playerDetail.firstName : 'Nama Depan tidak Tersedia'}}
                </div>
            </div>
            <div class="form-group col-12 col-lg-4 mb-3">
                <span>Nama Belakang :</span>
                <div class="input-value">
                    {{playerDetail.lastName ? playerDetail.lastName : 'Nama Belakang tidak Tersedia'}}
                </div>
            </div>
            <div class="form-group col-12 col-lg-4 mb-3">
                <span>Tempat Lahir :</span>
                <div class="input-value">
                    {{playerDetail.countryOfBirth ? playerDetail.countryOfBirth : 'Tempat lahir tidak Tersedia'}}
                </div>
            </div>
            <div class="form-group col-12 col-lg-4 mb-3">
                <span>Tanggal Lahir :</span>
                <div class="input-value">
                    {{playerDetail.dateOfBirth ? playerDetail.dateOfBirth : 'Tanggal lahir tidak Tersedia'}}
                </div>
            </div>
            <div class="form-group col-12 col-lg-4 mb-3">
                <span>Kewarganegaraan :</span>
                <div class="input-value">
                    {{playerDetail.nationality ? playerDetail.nationality : 'Kewarganegaraan tidak Tersedia'}}
                </div>
            </div>
            <div class="form-group col-12 col-lg-4 mb-3">
                <span>Posisi :</span>
                <div class="input-value">
                    {{playerDetail.position ? playerDetail.position : 'Posisi tidak Tersedia'}}
                </div>
            </div>
            <div class="form-group col-12 col-lg-4 mb-3">
                <span>Nomor Punggung :</span>
                <div class="input-value">
                    {{playerDetail.shirtNumber ? playerDetail.shirtNumber : 'Nomor Punggung tidak Tersedia'}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row" *ngIf="playerDetail">
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Nama :</span>
        <div class="input-value">
            {{playerDetail.name}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Didirikan :</span>
        <div class="input-value">
            {{teamInfo.founded}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Nama Pendek :</span>
        <div class="input-value">
            {{teamInfo.shortName}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Warna Klub :</span>
        <div class="input-value">
            {{teamInfo.clubColors}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Area :</span>
        <div class="input-value">
            {{teamInfo.area.name}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Alamat :</span>
        <div class="input-value">
            {{teamInfo.address}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Telepon :</span>
        <div class="input-value">
            {{teamInfo.phone}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Email :</span>
        <div class="input-value">
            {{teamInfo.email}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Stadium :</span>
        <div class="input-value">
            {{teamInfo.venue}}
        </div>
    </div>
    <div class="form-group col-12 col-lg-4 mb-3">
        <span>Daftar Pemain :</span> 
        <ng-container *ngIf="teamInfo.squad.length > 0; else elseTemplate">
            <div *ngFor="let player of teamInfo.squad; index as i">
                <button class="btn btn-link btn-block" (click)="openPlayerDetails(player.id)">{{player.name}}</button>      
            </div> 
        </ng-container>
        <ng-template #elseTemplate>
            Data tidak tersedia
        </ng-template>
    </div>    
</div>
<div class="buttons">
    <button type="button" class="btn btn-outline-primary" [routerLink]="'/home'">
        Kembali
    </button>
</div> -->