<div class="wrapper">
    <header>
        <div class="buttons">
            <button class="toggle-button" (click)="showSideBar=!showSideBar"><i class="las la-bars"></i></button>
        </div>
        <div class="title">FOOTBALL</div>
    </header>
    <aside [ngClass]="{active:showSideBar}">
        <nav>
            <li class="nav-item">
                <a [routerLink]="['/','home']" routerLinkActive="active">
                    <i class="las la-map"></i> Semua Area
                </a>
            </li>
        </nav>
    </aside>
    <main>
        <div class="main-wrapper">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>