@import '../../../scss//variable';

.wrapper {
    flex-direction: row;
}

header {
    position: fixed;
    width: 100%;
    background-color: $primary;
    color: $white;
    padding: 0;
    z-index: 100;

    display: flex;
    flex-wrap: nowrap;

    &>* {
        display: flex;
        align-items: center;
    }

    .buttons {
        color: inherit;
        font-size: 1.5rem;

        &:last-child {
            margin-left: auto;
        }
        
        button {
            color: inherit;
            background: none;
            border: none;
            padding: $spacer;
            line-height: 1.5rem;

            &.toggle-button {
                display: block;

                @media (min-width:$lg-br) {
                    display: none;
                }
            }
        }
    }
    .title {
        padding: $spacer;
        font-size: 1.2rem;
    }
}

aside {
    width:100%;
    min-height: 100vh;
    height: auto;
    background-color: $white;

    position: fixed;
    top:0;
    left: -100%;
    z-index: 200;

    transition: left 0.2s ease-out;

    display: flex;
    flex-direction: column;


    @media (min-width:$lg-br) {
        z-index: 0;
        padding-top: 4rem;
        position: static;
        width: 17rem;
        max-width: 17rem;
        box-shadow: 0 0 $spacer/4 $spacer/4 rgba($dark,0.2);
    }

    .nav-item{
        a{
            display: block;
            padding: $spacer/2 $spacer;

            &:hover, &:focus, &:active, &.active {
                text-decoration: none;
                background-color: $light;
            }

            @media (min-width:$lg-br) {
                padding: $spacer/2 $spacer;
            }
        }
    }

    nav {
        flex: 1 0 auto;
        width: 100%;
        height: 0;
        overflow-y: auto;

        @media (min-width:$lg-br) {
            height: auto;
            min-height: auto;
            width: 100%;
        }
    }

}

main {
    width:100%;
    padding-top: 4rem;

    .main-wrapper{
        padding: $spacer;
    }
}