$font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;

// Color system

$white:    #fff;
$gray-900: #212529;
$black:    #000;

$grays: ();
$grays: map-merge(
  (
    "900": $gray-900
  ),
  $grays
);

$blue:    #148EFF;
$gray-light:      #F6F7FB;
$gray-dark:      #444D5B;

$colors: ();
$colors: map-merge(
  (
    "blue":       $blue,
    "white":      $white,
    "gray-dark":  $gray-dark,
    "gray-light":  $gray-light,
  ),
  $colors
);

$primary:       $blue;
$light:         $gray-light;
$dark:          $gray-dark;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;

$xs-br:0;
$sm-br:576px;
$md-br:768px;
$lg-br:992px;
$xl-br:1200px;
$xxl-br:1440px;
$xxxl-br:1600px;
$xxxxl-br:1920px;

$grid-breakpoints: (
  xs: $xs-br,
  sm: $sm-br,
  md: $md-br,
  lg: $lg-br,
  xl: $xl-br,
  xxl: $xxl-br,
  xxxl: $xxxl-br,
  xxxxl: $xxxxl-br,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1600px,
  xxxxl: 1920px
);

$lg-br: map-get($grid-breakpoints, 'lg');