/* You can add global styles to this file, and also import other style files */
@import './variable';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
